<configuration>

	<include optional="true" resource="logback-app.xml"/>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- File appenders throw errors in dev. Figure out a better way to set these defaults in production -->

	<!--
	<appender name="LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/barchart/app.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/log/barchart/app.log.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>20MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	-->
	<appender name="LOG" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!--
	<appender name="ACCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/barchart/access.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/log/barchart/access.log.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>20MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	-->
	<appender name="ACCESS" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="LOG" />
	</root>

	<logger name="com.barchart.access" level="INFO" additivity="false">
		<appender-ref ref="ACCESS" />
	</logger>

	<logger name="com.barchart" level="INFO"/>

	<logger name="ch.qos.logback" level="WARN"/>

</configuration>
