<included>

	<!--  Standard file log (deprecated, use JSON) -->
	<appender name="LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/ext/java/app.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/log/ext/java/app.log.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>20MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- JSON event format -->
	<appender name="JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/ext/app.log.json</file> <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> <fileNamePattern>/var/log/ext/app.log.json.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>20MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<fieldNames class="net.logstash.logback.fieldnames.ShortenedFieldNames"/>
			<timeZone>UTC</timeZone>
			<customFields>{"type":"java","app":"${DOCKER_IMAGE}"}</customFields>
		</encoder>
	</appender>

	<appender name="ACCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/ext/access.log.json</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/log/ext/access.log.json.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>20MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<fieldNames class="net.logstash.logback.fieldnames.ShortenedFieldNames"/>
			<timeZone>UTC</timeZone>
			<customFields>{"type":"http","app":"${DOCKER_IMAGE}"}</customFields>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="JSON" />
	</root>

</included>
