<configuration scan="true">

	<define name="PRODUCTION" class="ch.qos.logback.core.property.FileExistsPropertyDefiner">
		<path>/var/log/ext</path>
	</define>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<if condition="${PRODUCTION}">
		<then>
			<include resource="logback-production.xml"/>
		</then>
		<else>
			<include resource="logback-dev.xml"/>
		</else>
	</if>

	<logger name="com.barchart.logger.access" level="INFO" additivity="false">
		<appender-ref ref="ACCESS" />
	</logger>

	<include optional="true" resource="logback-app.xml"/>
	<include optional="true" file="logback-debug.xml"/>

</configuration>
